In [35]:
x=2
y=3
z= 8.75
xy ="hello wolrd"
yx= "shirin is a data scientist"

print(xy)
print (yx)
print (x+y)
print (type (x))
print(type (y))
print(type (z))
print (x,y,z,xy,yx)
s5= input('type s.th here \t')
type(s5)
print (s5)
abc= input("type an int Num")
print(type(abc))
print(int(abc))

hello wolrd
shirin is a data scientist
5
<class 'int'>
<class 'int'>
<class 'float'>
2 3 8.75 hello wolrd shirin is a data scientist

type s.th here 	 shirin

shirin

type an int Num 10

<class 'str'>
10

In [3]:
s='Shirin'
print (s)
print(s.center(10))
print(s.center(20))
print(s.center(30))
print(s.center(40))

Shirin
  Shirin
       Shirin
            Shirin
                 Shirin

In [2]:
print('*'.center(20))
print('***'.center(20))
print('*****'.center(20))
print('*******'.center(20))

         *
        ***
       *****
      *******

In [1]:
x=int (input())
y= int(input())
print(f'x+y= {x}+{y} = {x+y}')

 10
 20

x+y= 10+20 = 30

In [8]:
a=2
b=3
c=5
sum=a+b+c
print(f'avg= {sum/3}')

avg= 3.3333333333333335

In [7]:
x = int(input())
y = int(input())
if x==y:
    print('Enter diffrent numbers:')
    x= int(input())
    y= int(input())
elif x>y :
    print( 'big is %d'%x)
    print('small is %d'%y)

else :
    print('big is %d'%y)
    print('small is %d'%x)

 20
 10

big is 20
small is 10

In [8]:
x= int (input())
y= int (input())
z= int (input())
if x==y and x==z:
    print('not continue')
elif x>y and x>z:
        print(x)
elif y>x and y>z:
    print(y)
else:
    print(z)

 100
 200
 300

300

In [9]:
print('hello \n' *10)
print('backslash: \\ \n')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

backslash: \

In [10]:
print('may\njun\nhuly')

may
jun
huly

In [11]:
x = int (input())
if x in (2,3,5,7,11,13,17,19) :
    print("adad avval")
else :
    print("adad morakab")

 7

adad avval

In [12]:
i=1
for i in [3,10 , 'Shirin']:
    print(i)

3
10
Shirin

In [13]:
list_of_list = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
for list1 in list_of_list:
    for x in list1:
        print("%3s"%x , end='' )
    print('\n' , end='')

  1  2  3
  4  5  6
  7  8  9

In [14]:
for i in range(10):
    if i>4:
        print("The end", end='\n')
        continue
    elif i<7:
        print(i, end='\n')

0
1
2
3
4
The end
The end
The end
The end
The end

In [15]:
res = []
for i in range (1, 11):
    x= 27*i 
    res.append(x)
print(res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [21]:
mylist=[1,2,3,4,5,6,7,8,9]
for x in mylist:
    print(x , end= ' ')

1 2 3 4 5 6 7 8 9

In [19]:
for x in mylist:
    if x//2==2:
        print(x)

4
5

In [22]:
mystring='shirin namazi'
for letter in mystring:
    print(letter)

s
h
i
r
i
n

n
a
m
a
z
i

In [23]:
mytuple=(1,2,3,4,5)
for harchi in mytuple:
    print(harchi)

1
2
3
4
5

In [24]:
newlist=[(1,2,3),(4,5,6)]
for mem in newlist:
    for mem1 in mem:
        print('%10s'%mem1 , end='')
    print('\n', end='' )

         1         2         3
         4         5         6

In [25]:
for (a,b,c) in newlist:
    print(f'({a},{b},{c}): {a+b+c}')

(1,2,3): 6
(4,5,6): 15

In [2]:
# make a triangle
a= int(input())
b= int(input())
c= int(input())
if a<b+c and b<a+c and c<a+b:
    print('making a triangle is possible')
else :
    print('making a triangle is not possible')

 1
 1
 1

making a triangle is possible

In [4]:
# make a Right triangle
a= int(input())
b= int(input())
c= int(input())
if a**2==b**2+c**2 and b**2==a**2+c**2 and c**2==a**2+b**2:
    print('making a triangle is possible')
else :
    print('making a triangle is not possible')

 1
 1
 1

making a triangle is not possible

In [18]:
# n series
n= int(input())
s=0
i=2
while i<=2*n:
    s= s+ 1/i
    i=i+2
print (s , end=' ')

 10

1.4644841269841269

In [36]:
# print even numbers and average 500-2000
x=500
list =[]
i=0
s=0
while x<=2000:
    list.append(x)
    i=i+1
    s=s+x
    x=x+2
print(list)
print (f'avg={s}/{i} = {s/i}')

[500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000]
avg=938750/751 = 1250.0

In [2]:
p=0
i=1
n= int(input())
list =[]
while i<=n:
    p=(f'{i/3**(i-1)}')
    i=i+1
    list.append(p)
print(list)

 10

['1.0', '0.6666666666666666', '0.3333333333333333', '0.14814814814814814', '0.06172839506172839', '0.024691358024691357', '0.009602194787379973', '0.003657978966620942', '0.0013717421124828531', '0.0005080526342529086']

In [3]:
n=3
i=5
print (f'power= {i/2**(n-1)}')

power= 1.25

In [2]:
print(" type your number")
n= int(input())
i=2
if n%i==0:
    print(n, 'adad aval nist')
else :
    while i<n:
        n%i !=0
        i=i+1
    print(n, 'adad aval ast')

 type your number

 12

12 adad aval nist

In [3]:
#passed and failed of student at university
x= int(input())
y= int(input())
z= int(input())
sum= x+y+z
avg= sum/3
if avg <12:
    print('failed')
else:
    print('passed')

 10
 15
 17

passed

In [6]:
#salary and bonus
work= int(input())
age= int(input())
salary= int(input())
if work>10 and age>30:
    pay= (f'pay= {salary+ (salary*0.1)}')
    print(pay)
elif work>15 and age>40:
    pay= (f'pay= {salary+ (salary*0.2)}')
    print('Pay=', '%d'%pay)
elif work<10 and age<30:
    pay= (f'pay= {salary+ (salary*0.02)}')
    print('Pay=', '%d'%pay)
else:
    print('your numbers are not valid')

 16
 45
 200000000

pay= 220000000.0

In [3]:
# calculating of people's BMI
i=1
while i<=5:
    print('Enter your weight kg=')
    weight= float(input())
    w= weight*1000
    print('Enter your height cm=')
    height = float(input())
    bmi= (f'bmi= {w / (height**2)}')
    print(bmi)
    i=i+1

Enter your weight kg=

 60

Enter your height cm=

 164

bmi= 2.23081499107674
Enter your weight kg=

 94

Enter your height cm=

 180

bmi= 2.9012345679012346
Enter your weight kg=

 80

Enter your height cm=

 158

bmi= 3.204614645088928
Enter your weight kg=

 75

Enter your height cm=

 170

bmi= 2.5951557093425603
Enter your weight kg=

 60

Enter your height cm=

 157

bmi= 2.4341758286340216

In [4]:
i=1
while i<=10:
    print('Enter your mark')
    m= float(input())
    if m<10:
        print('Failed')
    else:
        print('Passed')
    i=i+1

Enter your mark

 12

Passed
Enter your mark

 13

Passed
Enter your mark

 5

Failed
Enter your mark

 9

Failed
Enter your mark

 20

Passed
Enter your mark

 17

Passed
Enter your mark

 11

Passed
Enter your mark

 10

Passed
Enter your mark

 6

Failed
Enter your mark

 3

Failed

In [9]:
#swapping
x=int (input())
y=int (input())
temp=x
x=y
y=temp
print(x)
print(y)

 7
 8

8
7

In [8]:
n= int(input())
if n%2==0:
    print(n, 'is even')
else :
    print(n, 'is odd')

 17

17 is odd

In [11]:
i=0
while i<=10:
    print(i, end=' , ')
    i=i+2

0 , 2 , 4 , 6 , 8 , 10 ,

In [2]:
sum=0
n= int (input())
while n>0:
    R= n%10    # r=3 ,r=2
    sum=sum+R  #sum=3 ,sum=5
    n=n-R      #n=120, 12-2=10
    n= int (n/10)  # 120/10=12 , 10/10=1
print(sum)

 345

12

In [7]:
list =[]
for x in range(10,100) :
    r=x%10
    if r%2 !=0:
        list.append(x)
        x=x+1
print(list)

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]